/* vereinfacht die Berechnung der Größe von Blöcken bzw. des Raums, den ein Block einnimmt. 
Mit box-sizing bedeutet 'width:200px', dass der Browser 
den Block 200px breit rendert, gleich ob und wieviel padding zum Block gehört.
*/
*{
    padding: 0;
    margin-right: 0;
    box-sizing: border-box;
    font-family: 'Solway', serif;
}

/* vh ist die Viewporthöhe. Damit wird die gesamte Höhe des Browsers ausgenutzt*/
body {
   background-image: url(./images/bg_image_meer.jpg);
   background-size: cover;
    height: 0.7 vh;
}

.startButton {
    height: 3rem;
    width: 10rem;
    border: 2px;
    border-color: black;
    margin-top: 2rem;
}

header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 8rem;
}

section{
    display: flex;

}

#Spielfeld {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40rem;
    height: 45rem;
    /* padding: 5rem; */
    margin: 0rem 25rem;
    justify-content: space-between;
    /*border: crimson 3px solid;*/
    
    margin-right: 20rem;
}

#count{
    display: flex;
    color: white;
    font-size: 2rem;
    justify-items: flex-start;
    width: 20rem;
    height: 3rem;
    /*border: burlywood 3px solid;*/
    /*margin-top: 5rem;*/
    margin-left: 10rem;
}
#tr{
    margin-left:10px ;
}


img {
    height: 150px;
    width: 150px;
    border: 5;
    border-color: black;
    border-style: solid;
    padding: 5px;
    margin: 4;
}

h1{
    font-size: 3rem;
    padding-right: 6rem;
    /* text-align: center; */
    color: white
}

h2{
    font-size: 3rem;
    
    text-align: center;
    color: white
}

.hiddenCard {
    display: none;
}
